<h1>Edit Notify Controls for Device <em><%=h @name -%></em> belonging to <em><%=h @notify_control.device.client.name -%></em></h1>

<%= form_for @notify_control do |f| %>

<%= render 'form' %>

<% end %>