<h1>Edit Notify Control for Device <%=h @notify_control.device_serial -%></h1>

<%= render 'form' %>

<p>
  <%= link_to "Show", @notify_control %> |
  <%= link_to "View All", notify_controls_path %>
</p>
