<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
Sorry, your request could not be processed for the following reason:
<ul>
  <li><%= @error -%></li>
</ul>
  </body>
</head>